/* here you can put your own css to customize and override the theme */

/***
Rounded Portlets
***/
/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/


.login-form .controls input{
    height: 33px;
    margin-bottom: 15px;
    padding-left: 35px;
	width:100%;
}

.login-form {
    margin: auto !important;
    width: 90%;
}

.logo-text{
    color: #009dc7 !important;
    font-family: "Open Sans",sans-serif;
    font-size: 33px;
    font-weight: bold;
    letter-spacing: -2px;
    text-transform: uppercase;
	text-decoration:none;	
}
.logo-text:hover{
	text-decoration:none;	
}
.logo-text span{
	color: #fff;
}
.simple-cursor{
	cursor: help;
}
.portlet.box.sky-blue {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #009dc7 #009dc7;
    border-image: none;
    border-style: none solid solid;
    border-width: 0 1px 1px;
}
.portlet > .portlet-body.blue, .portlet.sky-blue {
    background-color: #009dc7;
}
.dataTables_length .select2-container{
	display:none;
}
.padding-right-none{
	padding-right:0px !important;
}
.padding-top-none{
	padding-right:0px !important;
}
.padding-bottom-none{
	padding-right:0px !important;
}
.padding-left-none{
	padding-right:0px !important;
}
.padding-top-checkbox{
	padding-top: 7px;
}
.padding-right-none{
	padding-right:0px !important;
}
.margin-top-none{
	margin-right:0px !important;
}
.margin-bottom-none{
	margin-right:0px !important;
}
.margin-left-none{
	margin-right:0px !important;
}
.margin-top-checkbox{
	margin-top: 7px;
}
.clear{
	clear:both;
}
.mini{
    height: 23px;
    width: 24px;
	line-height: 5px !important;
}
.mini >i{
    margin-left: -5px !important;
    margin-top: -2px;
    padding-left: 0 !important;
}
.right{
	text-align:right;
}
.alert {
    padding: 8px 15px;
    text-align: center;
}
.DTTT_button_print{
	display:none;
}
.form_heading{
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
    padding-bottom: 5px;	
}
.width80{ 
	width: 88%;
}
.checkbox_div{
	 margin-bottom: 0;
	 background:#f4f7f8;
}
.form-group.checkbox_div:last-child {
    padding-bottom: 10px;
}
.date-picker-input{
    float: left;
    width: 84%;	
}
.gray_background{
	background:#f9f9f9;
}
#customWizard>.portlet-title{
	font-size: 20px;
    line-height: 31px;
	padding: 0 20px;
	border-bottom: medium none;	
}
#customWizard{
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}

#customWizard>.portlet-body{
    background-color: #fff;
    padding: 12px 20px 15px;	
}
.plan_tab{
	padding: 12px 15px;
	background:#f9f9f9;
}
.plan_tab span{
	opacity: 0.4;
}
.active_tab span{
	opacity: 10;
}
#customWizard .active_tab{
	 background-color: #fff;
}
.green{
	color: #1BBC9B;
}
.not-visible{
	visibility: hidden;
}
.form-control {
    border: 1px solid #ccc;
}
.sky-blue-btn{
	background:#009dc7;
	color:#fff;
}

.btn-group.tabletools-dropdown-on-portlet {
    display: none !important;
}

.portlet > .portlet-title > .tools {
    display: none !important;
}